Line width of 72 characters MUST NOT be exceeded in YANG files (see RFC7994)

YANG code is included in Internet-Drafts/RFCs. Therefore, the line with of 72 characters MUST NOT be exceeded as per [RFC7994, section 4.3](https://tools.ietf.org/html/rfc7994#section-4.3).

ietf-layer0-types.yang (https://github.com/younglee-ietf/ietf-optical-impairment-yang/commit/2fb5e2c088b17b1b7758ffdd3c8baf4ac3d6041b) has such lines >> 72 characters.

See also this [draft](https://tools.ietf.org/html/draft-ietf-netmod-artwork-folding) for ways to handle this.

It seems that there is an automatic way to format the yang with pyang in the ietf limits
`` pyang -f yang --keep-comments --ietf --max-line-length 72 ietf-optical-impairment-topology.yang -o formatted-ietf-optical-impairment-topology.yang ``

I have run it : 
ietf-optical-impairment-topology.yang:4: warning: line length 75 exceeds 72 characters
ietf-optical-impairment-topology.yang:16: error: module "ietf-te-topology" not found in search path
ietf-optical-impairment-topology.yang:547: warning: line length 110 exceeds 72 characters
ietf-optical-impairment-topology.yang:578: warning: line length 76 exceeds 72 characters
ietf-optical-impairment-topology.yang:611: warning: line length 114 exceeds 72 characters
ietf-optical-impairment-topology.yang:651: warning: line length 78 exceeds 72 characters
ietf-optical-impairment-topology.yang:662: warning: line length 85 exceeds 72 characters
ietf-optical-impairment-topology.yang:689: warning: line length 113 exceeds 72 characters
ietf-optical-impairment-topology.yang:756: warning: line length 80 exceeds 72 characters
ietf-optical-impairment-topology.yang:760: warning: line length 73 exceeds 72 characters
ietf-optical-impairment-topology.yang:761: warning: line length 85 exceeds 72 characters
ietf-optical-impairment-topology.yang:766: warning: line length 104 exceeds 72 characters
ietf-optical-impairment-topology.yang:783: warning: line length 78 exceeds 72 characters
ietf-optical-impairment-topology.yang:787: warning: line length 105 exceeds 72 characters
ietf-optical-impairment-topology.yang:829: warning: line length 75 exceeds 72 characters
ietf-optical-impairment-topology.yang:887: warning: line length 79 exceeds 72 characters
ietf-optical-impairment-topology.yang:934: warning: line length 78 exceeds 72 characters

pyang validation gives exactly the same result, but file is cleaned from trailing spaces, too long lines, lines, bad-whitespace ...

I will do a PR with these changes




here is the diff with the formatting (screen shot capture from the `meld ietf-optical-impairment-topology.yang formatted-ietf-optical-impairment-topology.yang` command:
![diff_autoformating](https://user-images.githubusercontent.com/8588957/59040604-eb7b0980-886e-11e9-8d68-217c136d2595.png)


2019-06-06: Fixed - see #16 